@import "./media";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    @include respond(phone){
        font-size: 8px;
      }
}

h1{
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 10px grey, 5px 4px 0px rgba(0,0,0,0.15);
    @include respond(tab-port){
        font-size: 3.5rem;
      }
    @include respond(phone){
        font-size: 3rem;
      }

 
  }