$shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$hoveredShadow:rgba(0, 0, 0, 0.4) 0px 20px 40px, rgba(0, 0, 0, 0.3) 0px 70px 130px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$color-blue:rgb(77, 77, 201);
$color-red:rgb(250, 15, 15);
$color-white:rgb(250, 244, 244);

//rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;