@charset "UTF-8";
@-webkit-keyframes colorChanger {
  25% {
    background-color: #fb4141;
    transform: scaleX(1.5);
  }
  40% {
    background-color: #fda5a5;
    transform: scaleX(1.7);
  }
  65% {
    background-color: white;
    transform: scaleX(1.8);
  }
  75% {
    background-color: white;
    transform: scaleX(1.5);
  }
  85% {
    background-color: #fda5a5;
    transform: scaleX(1.3);
  }
  100% {
    background-color: #fb4141;
    transform: scaleX(1);
  }
}
@keyframes colorChanger {
  25% {
    background-color: #fb4141;
    transform: scaleX(1.5);
  }
  40% {
    background-color: #fda5a5;
    transform: scaleX(1.7);
  }
  65% {
    background-color: white;
    transform: scaleX(1.8);
  }
  75% {
    background-color: white;
    transform: scaleX(1.5);
  }
  85% {
    background-color: #fda5a5;
    transform: scaleX(1.3);
  }
  100% {
    background-color: #fb4141;
    transform: scaleX(1);
  }
}
@-webkit-keyframes positionChanger {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes positionChanger {
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.nav {
  padding: 2em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.nav__payment-div {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__payment-div p {
  background-image: linear-gradient(to right, rgb(9, 0, 128), rgb(0, 81, 128));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.nav__books-btn-div {
  width: 80px;
}
.nav__cart-icon-div {
  display: flex;
  align-items: center;
  width: 90px;
}
.nav__menu-div {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}
.nav__numberOfItems {
  background-color: black;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
}
.nav__numberOfItems p {
  margin-top: 3px;
}
.nav__cart-icon {
  color: rgb(77, 77, 201);
  font-size: 32px;
  margin-left: 19px;
}
.nav__cart-icon:hover, .nav__cart-icon:active {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: positionChanger;
          animation-name: positionChanger;
}
.nav__books-btn {
  transition: all 0.4s;
  background-color: rgb(77, 77, 201);
}
.nav__books-btn:hover, .nav__books-btn:active {
  background-color: #7474d5;
  transform: rotate(360deg) scale(1.3);
}
.nav__payment-btn {
  position: relative;
  background-color: #780202;
}
.nav__payment-btn::after {
  z-index: -1;
  color: transparent;
  content: "გადახდა";
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: #fb4141;
  -webkit-clip-path: polygon(3% 3%, 100% 3%, 69% 27%, 98% 45%, 64% 61%, 100% 93%, 2% 94%, 29% 59%, 3% 43%, 29% 26%);
          clip-path: polygon(3% 3%, 100% 3%, 69% 27%, 98% 45%, 64% 61%, 100% 93%, 2% 94%, 29% 59%, 3% 43%, 29% 26%);
}
.nav__payment-btn:hover::after, .nav__payment-btn:active::after {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: colorChanger;
          animation-name: colorChanger;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bolder;
  letter-spacing: 0.15em;
  text-shadow: 2px 2px 0px grey, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

button {
  color: white;
  padding: 1em;
  border-radius: 5%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
button:active {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.remove-btn {
  background-color: rgb(250, 15, 15);
  padding: 5px 20px;
  font-size: 1.3vw;
}
.remove-btn:hover {
  transform: scale(1.1) skewX(3deg);
}

.card-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  margin-top: 1em;
  padding: 10px;
}

.card {
  background-color: rgb(250, 244, 244);
  text-align: center;
  padding-top: 2em;
  border-radius: 3%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.4s;
}
.card h4 {
  font-size: 2vw;
}
.card p {
  font-size: 2vw;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 40px, rgba(0, 0, 0, 0.3) 0px 70px 130px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transform: scale(1.2);
}

img {
  width: 50%;
  height: 50%;
}/*# sourceMappingURL=index.css.map */